<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
  </system.web>
  <appSettings>
    <add key ="FacebookSignIn" value="https://graph.facebook.com/oauth/authorize"/>
    <add key ="FacebookClientID" value ="241993665974585"/>
    <add key ="FacebookRedirectUrl" value ="/Index.aspx"/>
    <add key ="FacebookClientSecret" value ="44bac997e52e4416826df9db041a04cb"/>
  </appSettings>

</configuration>
